div img {
    width: 10%;
}

html{
    font-family: 'Montserrat', sans-serif;
}

header{
    text-align: center;
}

main{
    text-align: center;
}

footer{
    text-align: center;
}

@media screen and (min-width: 641px) {
    body {
      width: 640px;
    }
}

@media screen and (max-width: 640px) {
    body {
      width: 80vw;
    }
    footer{
        flex-wrap: wrap;
    }

}